Welcome, <%= @donor.email %>
<%= link_to "Sign out", destroy_donor_session_path, :method => :delete %>

<%= form_for Donation.new do |d| %>
    <%= d.label :title %>
    <%= d.text_field :title %><br>
    <%= d.label :description %>
    <%= d.text_field :description %><br>
    <%= d.submit %>
<% end %>

<h2>Donations</h2>
<% current_donor.donations.each do |donation| %>
    <div class='donation'>
      <h3><%= donation.title %></h3>
      <span class='description'><%= donation.description %></span>
    </div>
<% end %>
